* text=auto

*.blade.php diff=html
*.php diff=php
*.css linguist-detectable=false
*.html diff=html
*.md diff=markdown
*.html linguist-detectable=false
*.JavaScript linguist-detectable=false

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
